<div class="row ">
  <div class="column">
    <!-- Main information, edit it on theme/_config.yml -->
    <h3><%= theme.greeting %></h3>
    <p><%= theme.info %></p>
    <p><%= theme.desc %></p>
  </div>
</div>

<h5><%= theme.recent_posts %></h5>

<% site.posts.sort('date', 'desc').limit(theme.max_post).forEach(function(post){ %>
<div class="row">

    <a href="<%- url_for(post.path) %>" class="">
  <div>
    <p class="bottom"><%- full_date(post.date, 'DD MM YYYY') %></p>
  </div>
  <div>
      <p>
      <% if (post.title == "") { %>
        no title
      <% } else { %>
        <%- post.title %>
      <% } %>
      </p>
  </div>
    </a>
</div>
<% }) %>

<h6> <a href="<%= config.root %>archives"><%= theme.show_all %></a></h6>
