<div>

  <div class="navbar">
      <div class="navigation">
      <ul>
          <li>
    <a href="<%= config.root %>">
      <%= theme.title %>
    </a>
          </li>
   <% for (name in theme.nav) { %>
          <li>
     <a href="<%- url_for(theme.nav[name]) %>"><%- name %></a>
          </li>
   <% } %>
      </ul>
      </div>

      <div class="spacer"></div>

      <div class="socials">
          <ul>
            <% for (page in theme.socials) { %>
                <li>
                    <a href="<%- url_for(theme.socials[page]) %>">
                        <span class="text">
                            <%- page %>
                        </span>
                        <span class="icon">
                            <img src="/icons/<%- page %>.svg" alt="<%- page %> icon">
                        </span>
                    </a>
                </li>
            <% } %>
          </ul>
    </div>
  </div>

</div>
